aiohttp==3.8.3
aiosignal==1.3.1
anime-api==0.15.4
async-lru==1.0.3
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==2.1.1
Deprecated==1.2.13
disnake==2.7.0
dnspython==2.3.0
frozenlist==1.3.3
idna==3.4
jaconv==0.3.3
multidict==6.0.4
oauthlib==3.2.2
pykakasi==2.2.1
pymongo==4.3.3
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.7.1
requests==2.28.2
requests-oauthlib==1.3.1
six==1.16.0
soupsieve==2.3.2.post1
TwitterAPI==2.8.1
twython==3.9.1
urllib3==1.26.14
wrapt==1.14.1
yarl==1.8.2
